.Mode-1 {
  --color-amber-500: rgb(197, 153, 0);
  --color-black: rgb(0, 0, 0);
  --color-red-500: rgb(255, 0, 0);
  --color-white: rgb(255, 255, 255);
  --spacing-lg: 8px;
  --spacing-md: 4px;
  --spacing-none: 0px;
  --spacing-sm: 2px;
}
.Saddles {
  --brand-neutral: var(--color-black);
  --brand-primary: var(--color-amber-500);
  --brand-secondary: var(--color-black);
}
.Photostop {
  --brand-neutral: var(--color-black);
  --brand-primary: var(--color-red-500);
  --brand-secondary: var(--color-white);
}
.dark {
  --mode-color-surface-background: var(--brand-secondary);
  --mode-color-surface-foreground: var(--brand-primary);
  --mode-color-text-active: var(--brand-secondary);
  --mode-color-text-default: var(--brand-primary);
}
.light {
  --mode-color-surface-background: var(--brand-primary);
  --mode-color-surface-foreground: var(--brand-secondary);
  --mode-color-text-active: var(--brand-neutral);
  --mode-color-text-default: var(--brand-neutral);
}
.mobile {
  --breakpoint-base-unit: var(--spacing-sm);
  --breakpoint-margins-lg: var(--spacing-md);
  --breakpoint-margins-sm: var(--spacing-sm);
}
.desktop {
  --breakpoint-base-unit: var(--spacing-md);
  --breakpoint-margins-lg: var(--spacing-lg);
  --breakpoint-margins-sm: var(--spacing-md);
}
:root {
  --medium: medium;
  --3: 16px;
  --100: 100%;
  --none: 0%;
  --none: 0px;
  --body-lg-medium-font-style: normal;
  --body-lg-medium-font-family: "";
  --body-lg-medium-font-weight: var(--medium);
  --body-lg-medium-font-size: var(--3);
  --body-lg-medium-line-height: var(--100);
  --body-lg-medium-letter-spacing: var(--none);
  --body-lg-medium-text-decoration: var(--none);
  --bold: bold;
  --2: 14px;
  --150: 150%;
  --body-md-bold-font-style: normal;
  --body-md-bold-font-family: "";
  --body-md-bold-font-weight: var(--bold);
  --body-md-bold-font-size: var(--2);
  --body-md-bold-line-height: var(--150);
  --body-md-bold-letter-spacing: var(--none);
  --body-md-bold-text-decoration: var(--none);
  --regular: regular;
  ---1: -1%;
  --body-md-regular-font-style: normal;
  --body-md-regular-font-family: "";
  --body-md-regular-font-weight: var(--regular);
  --body-md-regular-font-size: var(--2);
  --body-md-regular-line-height: var(--150);
  --body-md-regular-letter-spacing: var(---1);
  --body-md-regular-text-decoration: var(--none);
  --body-md-regular-line-font-style: normal;
  --body-md-regular-line-font-family: "";
  --body-md-regular-line-font-weight: var(--regular);
  --body-md-regular-line-font-size: var(--2);
  --body-md-regular-line-line-height: var(--100);
  --body-md-regular-line-letter-spacing: var(--none);
  --body-md-regular-line-text-decoration: var(--line-through);
  --4: 18px;
  --body-xl-bold-font-style: normal;
  --body-xl-bold-font-family: "";
  --body-xl-bold-font-weight: var(--bold);
  --body-xl-bold-font-size: var(--4);
  --body-xl-bold-line-height: var(--100);
  --body-xl-bold-letter-spacing: var(--none);
  --body-xl-bold-text-decoration: var(--none);
  --1: 12px;
  --body-xs-medium-font-style: normal;
  --body-xs-medium-font-family: "";
  --body-xs-medium-font-weight: var(--medium);
  --body-xs-medium-font-size: var(--1);
  --body-xs-medium-line-height: var(--100);
  --body-xs-medium-letter-spacing: var(--none);
  --body-xs-medium-text-decoration: var(--none);
  --heading-lg-font-style: normal;
  --heading-lg-font-family: "";
  --heading-lg-font-weight: var(--bold);
  --heading-lg-font-size: var(--3);
  --heading-lg-line-height: var(--100);
  --heading-lg-letter-spacing: var(--none);
  --heading-lg-text-decoration: var(--none);
  --4: 4%;
  --heading-xxs-font-style: normal;
  --heading-xxs-font-family: "";
  --heading-xxs-font-weight: var(--bold);
  --heading-xxs-font-size: var(--1);
  --heading-xxs-line-height: var(--100);
  --heading-xxs-letter-spacing: var(--4);
  --heading-xxs-text-decoration: var(--none);
  --semi: semi-bold;
  --interactive-lg-medium-font-style: normal;
  --interactive-lg-medium-font-family: "";
  --interactive-lg-medium-font-weight: var(--semi);
  --interactive-lg-medium-font-size: var(--1);
  --interactive-lg-medium-line-height: var(--100);
  --interactive-lg-medium-letter-spacing: var(--none);
  --interactive-lg-medium-text-decoration: var(--none);
  --interactive-md-medium-font-style: normal;
  --interactive-md-medium-font-family: "";
  --interactive-md-medium-font-weight: var(--medium);
  --interactive-md-medium-font-size: var(--2);
  --interactive-md-medium-line-height: var(--100);
  --interactive-md-medium-letter-spacing: var(--none);
  --interactive-md-medium-text-decoration: var(--none);
  --interactive-sm-medium-font-style: normal;
  --interactive-sm-medium-font-family: "";
  --interactive-sm-medium-font-weight: var(--medium);
  --interactive-sm-medium-font-size: var(--2);
  --interactive-sm-medium-line-height: var(--100);
  --interactive-sm-medium-letter-spacing: var(--none);
  --interactive-sm-medium-text-decoration: var(--none);
  --interactive-sm-regular-font-style: normal;
  --interactive-sm-regular-font-family: "";
  --interactive-sm-regular-font-weight: var(--regular);
  --interactive-sm-regular-font-size: var(--2);
  --interactive-sm-regular-line-height: var(--100);
  --interactive-sm-regular-letter-spacing: var(--none);
  --interactive-sm-regular-text-decoration: var(--none);
  --interactive-sm-regular-underline-font-style: normal;
  --interactive-sm-regular-underline-font-family: "";
  --interactive-sm-regular-underline-font-weight: var(--regular);
  --interactive-sm-regular-underline-font-size: var(--2);
  --interactive-sm-regular-underline-line-height: var(--100);
  --interactive-sm-regular-underline-letter-spacing: var(--none);
  --interactive-sm-regular-underline-text-decoration: var(--underline);
  --interactive-xs-semi-font-style: normal;
  --interactive-xs-semi-font-family: "";
  --interactive-xs-semi-font-weight: var(--semi);
  --interactive-xs-semi-font-size: var(--1);
  --interactive-xs-semi-line-height: var(--100);
  --interactive-xs-semi-letter-spacing: var(--none);
  --interactive-xs-semi-text-decoration: var(--none);
  --label-md-bold-font-style: normal;
  --label-md-bold-font-family: "";
  --label-md-bold-font-weight: var(--bold);
  --label-md-bold-font-size: var(--2);
  --label-md-bold-line-height: var(--100);
  --label-md-bold-letter-spacing: var(--none);
  --label-md-bold-text-decoration: var(--none);
  --label-md-regular-font-style: normal;
  --label-md-regular-font-family: "";
  --label-md-regular-font-weight: var(--regular);
  --label-md-regular-font-size: var(--2);
  --label-md-regular-line-height: var(--100);
  --label-md-regular-letter-spacing: var(--none);
  --label-md-regular-text-decoration: var(--none);
  --label-xs-semi-font-style: normal;
  --label-xs-semi-font-family: "";
  --label-xs-semi-font-weight: var(--semi);
  --label-xs-semi-font-size: var(--1);
  --label-xs-semi-line-height: var(--100);
  --label-xs-semi-letter-spacing: var(--none);
  --label-xs-semi-text-decoration: var(--none);
  --140: 140%;
  --1: 1%;
  --link-plain-lg-regular-font-style: normal;
  --link-plain-lg-regular-font-family: "";
  --link-plain-lg-regular-font-weight: var(--regular);
  --link-plain-lg-regular-font-size: var(--3);
  --link-plain-lg-regular-line-height: var(--140);
  --link-plain-lg-regular-letter-spacing: var(--1);
  --link-plain-lg-regular-text-decoration: var(--none);
  ---5: -5%;
  --link-plain-md-regular-font-style: normal;
  --link-plain-md-regular-font-family: "";
  --link-plain-md-regular-font-weight: var(--regular);
  --link-plain-md-regular-font-size: var(--2);
  --link-plain-md-regular-line-height: var(--140);
  --link-plain-md-regular-letter-spacing: var(---5);
  --link-plain-md-regular-text-decoration: var(--none);
  --link-plain-md-semi-font-style: normal;
  --link-plain-md-semi-font-family: "";
  --link-plain-md-semi-font-weight: var(--semi);
  --link-plain-md-semi-font-size: var(--2);
  --link-plain-md-semi-line-height: var(--140);
  --link-plain-md-semi-letter-spacing: var(--none);
  --link-plain-md-semi-text-decoration: var(--none);
  --link-plain-xs-semi-font-style: normal;
  --link-plain-xs-semi-font-family: "";
  --link-plain-xs-semi-font-weight: var(--semi);
  --link-plain-xs-semi-font-size: var(--1);
  --link-plain-xs-semi-line-height: var(--100);
  --link-plain-xs-semi-letter-spacing: var(--1);
  --link-plain-xs-semi-text-decoration: var(--none);
  --link-underlined-md-medium-font-style: normal;
  --link-underlined-md-medium-font-family: "";
  --link-underlined-md-medium-font-weight: var(--medium);
  --link-underlined-md-medium-font-size: var(--1);
  --link-underlined-md-medium-line-height: var(--100);
  --link-underlined-md-medium-letter-spacing: var(--none);
  --link-underlined-md-medium-text-decoration: var(--none);
  --link-underlined-md-regular-font-style: normal;
  --link-underlined-md-regular-font-family: "";
  --link-underlined-md-regular-font-weight: var(--regular);
  --link-underlined-md-regular-font-size: var(--2);
  --link-underlined-md-regular-line-height: var(--100);
  --link-underlined-md-regular-letter-spacing: var(--none);
  --link-underlined-md-regular-text-decoration: var(--underline);
  --link-underlined-sm-regular-font-style: normal;
  --link-underlined-sm-regular-font-family: "";
  --link-underlined-sm-regular-font-weight: var(--regular);
  --link-underlined-sm-regular-font-size: var(--2);
  --link-underlined-sm-regular-line-height: var(--100);
  --link-underlined-sm-regular-letter-spacing: var(--none);
  --link-underlined-sm-regular-text-decoration: var(--underline);
  --link-underlined-xs-bold-font-style: normal;
  --link-underlined-xs-bold-font-family: "";
  --link-underlined-xs-bold-font-weight: var(--bold);
  --link-underlined-xs-bold-font-size: var(--2);
  --link-underlined-xs-bold-line-height: var(--100);
  --link-underlined-xs-bold-letter-spacing: var(--none);
  --link-underlined-xs-bold-text-decoration: var(--underline);
  --2: 2%;
  --0: 0px;
  --1: 2px;
  --2: 4px;
  --3: 8px;
  --4: 12px;
  --5: 16px;
  --6: 24px;
  --7: 32px;
}
.Default {
  --color-button-primary-active: var(--mode-color-surface-foreground);
  --color-button-primary-default: var(--mode-color-surface-background);
  --color-button-primary-hover: var(--mode-color-surface-foreground);
  --spacing-button-margins-horizontal: var(--breakpoint-margins-lg);
  --spacing-button-margins-vertical: var(--breakpoint-margins-sm);
}
